#background {
	-fx-background-image: url("../img/AdminLoginBg.jpg");
	-fx-background-repeat: stretch;
}

#button {
	-fx-background-image: url("../img/Bg.jpg");
    -fx-background-repeat: stretch;   
}